@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#box_container {
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    gap: 40px;
    padding: 20px;
}

#box_container :hover {
    transform: scale(1.1);
    transition:0.2s;
}

body {
    background-color:antiquewhite;
}

.Sticky {
    height: 200px;
    padding: 20px;
    border: none;
    outline: none;
    resize: none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.btn_container {
    height: 200px;
    border: none;
    font-size: medium;
    outline: none;
    background-color: rgb(233, 205, 169);
    border-radius: 10px;
    cursor: pointer;
}

.btn_container:hover {
    background-color: rgb(234, 188, 129);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.heading-container {
    color:darkgoldenrod;
    padding: 17px;
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}